@import "variables";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}
body {
	display: flex;
	flex-direction: row;
	height: 100vh;
	font-family: Helvetica, sans-serif;
}
.container-1 {
	background-color: $bg-color;
	height: 100%;
	width: 50%;
}
.container-2 {
	@extend .container-1;
	background-color: blanchedalmond;
}
.grid-container {
	display: grid;
}
.grid-item1 {
	height: 7.5rem;
	width: 100%;
	background-color: $bg-color;
	display: flex;
	flex-direction: row;
	img {
		margin: 2rem;
	}
	li {
		margin: 3rem 2rem;
		font-weight: 500;
		font-style: bold;
		display: inline-block;
	}
}
.grid-item2 {
	height: 5rem;
	background-color: $bg-color;
}
.grid-item3 {
	background-color: $bg-color;

	width: 100%;
	height: 5rem;

	.hiring-box {
		width: 24rem;
		background-color: #151a24;
		height: 2.4rem;
		margin-left: 2rem;
		border-radius: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
	}
	.hiring-box2 {
		width: 9rem;
		background-color: #6a63ad;
		height: 1.6rem;
		padding: 0.3rem 1rem;

		margin-left: 0.3rem;
		border-radius: 4rem;
	}
	.visit {
		margin-left: -1rem;
	}
	.arrow {
		padding-right: 1rem;

		font-weight: 600;
	}
}

.grid-item4 {
	padding: 2rem;
	padding-top: 0rem;
	h1 {
		font-size: 92px;
	}
	h2 {
		font-size: 78px;
		color: #8eadcf;
	}
	p {
		font-size: 22px;
		color: rgb(202, 202, 202);
		padding-top: 2rem;
		width: 80%;
	}
	.used-by {
		color: rgb(255, 255, 255);
	}
	img {
		margin-top: 2rem;
	}
}

.grid-container-2 {
	display: grid;
	height: 100%;
	width: 50%;
	background-color: $bg-color;

	.login-container {
		display: flex;
		height: 5rem;
		width: 100%;

		flex-direction: row-reverse;

		.login-box {
			width: 6rem;
			height: 2.8rem;
			border-radius: 1rem;
			background-color: #4b5563;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 1rem;
		}
	}

	.sign-in-form-container {
		display: flex;
		background-color: $bg-color;

		margin-bottom: 20%;

		img {
		}
	}
}
